body {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(3, 27, 78, .1);
    padding-top: 15px;
    padding-bottom: 15px;
}
.text-logo {
    font-weight: 700;
}
.text-nav {
    font-weight: 700;
}
.btn {
    border-radius: 10px;
    font-weight: 700;
}
.btn-register {
    color: #ffffff!important;
    background-color: #2a37b3;
}
.btn-landing-page {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
}
.btn-landing-page:hover {
    color: #2a37b3;
    background-color: #ffffff;
}
.text-darkblue {
    color: #120038
}
.text-lightblue {
    color: #2a37b3;
}
.text-white {
    color: #ffffff;
}
.footer-color {
    color: #ffffff;
    background-color: #120038;
}
.landing-page {
    color: #ffffff;
    /*background-image: url('/img/banners/banner.jpg');*/
    background: #120038;
    background: -webkit-linear-gradient(to right, #2a37b3, #120038);
    background: linear-gradient(to right, #2a37b3, #120038);
    height: 90vh;
    width: 100%;
}
.landing-text {
    padding-top: 150px; 
}

@media only screen and (max-width: 600px) {
    .landing-page {
        background-image: none;
        background: #120038;
        background: -webkit-linear-gradient(to right, #2a37b3, #120038);
        background: linear-gradient(to right, #2a37b3, #120038);
    }
}